Nome: Imobiliária Kazavel

Descrição: É um site institucional para uma imobiliária com opção para buscar imoveis por filtro.

Cor principal: #FFCC00
Cor secundaria: Black

Logo black: https://bdxoocqlcrurivdxkxao.supabase.co/storage/v1/object/public/project/logo_black.png
Logo white: https://bdxoocqlcrurivdxkxao.supabase.co/storage/v1/object/public/project/logo_white.png

Responsividade: Desktop + Mobile